<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da soma entre {{n1}} e {{n2}} é: {{soma}}</p><br>
    <p>Resultado da subtração entre {{n1}} e {{n2}} é: {{subtracao}}</p><br>
    <p>Resultado da multiplicação entre {{n1}} e {{n2}} é: {{multiplicacao}}</p><br>
    <p>Resultado da divisão inteira entre {{n1}} e {{n2}} é: {{divisao_inteira}}</p><br>
    <p>Resultado da divisão fracionada entre {{n1}} e {{n2}} é: {{divisao_fracionada}}</p><br>
    <p>Resultado do resto da divisão entre {{n1}} e {{n2}} é: {{resto}}</p><br>
    <p>Resultado da raiz entre {{n1}} e {{n2}} é: {{raiz}}</p><br>
     
    <a href="/">Voltar para a página inicial</a>
</body>
</html>